<div id="app">
    <input v-model="username" placeholder="Username">
    <input v-model="password" type="password" placeholder="Password">
    <button v-on:click="login">Login</button>
    <p>{{ message }}</p>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script type="module">
    import { login } from '/js/authService.js';

    new Vue({
        el: '#app',
        data: {
            username: '',
            password: '',
            message: ''
        },
        methods: {
            async login() {
                try {
                    const token = await login(this.username, this.password);
                    this.message = 'Login success! Token: ' + token;
                } catch (err) {
                    this.message = err.message;
                }
            }
        }
    });
</script>




@* <h2>Login</h2> *@

@* <form asp-action="Login" method="post"> *@
@*     <div> *@
@*         <label>Username</label> *@
@*         <input asp-for="Username" /> *@
@*     </div> *@
@*     <div> *@
@*         <label>Password</label> *@
@*         <input asp-for="Password" type="password" /> *@
@*     </div> *@
@*     <button type="submit">Login</button> *@
@* </form> *@

@* @if (ViewBag.Message != null) *@
@* { *@
@*     <p>@ViewBag.Message</p> *@
@* } *@
